/* Dialog
----------------------------------*/
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 5px; top: 9px; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; background: none !important;}
.ui-dialog .ui-dialog-titlebar-close span { display: block; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; background-position: -20px -40px; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

/*-------------------- UPPER PANEL ----------------------*/
	
	/* ----------- Restart-----------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

html, body { height: 100%; margin: 0; width: 100%; top: 0; left: 0;}

.select_font_type{
	text-align: center;
	font-weight: bold;
}

article,aside,figure,footer,header,hgroup,nav,section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline:none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: middle;
}

/* ----------- End Restart-----------------*/
	/*---------------------------- TEXT STYLES ----------------------------*/
a {
/*
	text-decoration: none;
	color: #6699cc;
*/
}

a.online-doc, a.support{text-decoration: none;}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	color: #414141;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 100;
	font-family:Helvetica,Arial, sans-serif;
	text-shadow: 1px 1px #fff;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: #6a6a6a;
	text-decoration: none;
}

h1 a:hover {
	color: #454545;
	text-decoration: none;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 25px;
    margin-bottom: 0;
    font-weight: 600;
        margin: 10px 0 5px;
}

h3 {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 15px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d5d5d5;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 0;
}

.hr {
	height: 1px;
	background-image: url(../images/hr.gif);
	background-repeat: repeat-x;
	background-color: transparent;
	background-position: top;
	border-top: 0px;
	margin: 0px;
}

.larch_demos_content p{
	margin-bottom: 15px;
	margin-top: 15px;
	line-height:1.7em;
	color: #5C5C5C;
	font-size: 14px;
	font-weight: 100;
}

ol {
	margin-left: 35px;
}

strong {
/* 	font-weight: bold; */
}

em {
	font-style: italic;
}

.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright {
	float: right;
	margin-left: 10px;
}



body {
/*
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #37436e;
	line-height: 1.4em;
	background-color:##F9F9F9;
*/
}

#main-container {
	position: absolute;
	left: 0px;
	top: 0px;
	width:780px;
	padding-left:10px;
	padding-top:10px;
	background-color:#f9f9f9;
}

.center {
	height: auto;
	width: 960px;
	margin: auto;
	text-align: left;
	padding: 0px;
}

#dialog-modal{
	width:5px;
	height:5px;
	border:1px solid red;
}


#larch-content-container{
	height:auto;
	width: 921px;
	background: #f3f3f3;
	background-repeat:repeat-y;
	min-height:500px;
	overflow:hidden;
	margin-top:15px;
	margin: 35px 20px;
}

#sidebar{
	width: 220px;
	height:100%;
	float:left;
	padding-top:5px;
	background: #f3f3f3;
}

#content{
	width: 700px;
	float:left;
	margin-bottom: 0px;
	padding-top:5px;
	min-height: 764px;
	background: #fff;
	position: relative;
}

#larch-footer{
	width: 100%;
	height: 80px;
	float:left;
	background: #f3f3f3;
}


#larch-footer .button-save{
	float:right;
	margin-right:30px;
	margin-top:17px;
}

#logo{
	width: 220px;
	height: 160px;
	display:block;
	background: url(../images/logo.png) center center;
	position:relative;
	top:-5px;
background-color:#fff;
	padding-top: 35px;
}

#navigation ul li a{
	display: block;
	height: 56px;
	width: 220px;
	background: #F8F8F8;
	/* font-weight: bold; */
	font-size: 13px;
	color: #7C7C7C;
	cursor: pointer;
	font-style: normal;
	margin-left: -3px;
	line-height: 50px;
	border-bottom: 1px solid #F1F1F1;
	outline: none;
	padding: 1px 0;
}
#navigation ul li a:active, #navigation ul li a:focus, #navigation ul li a:hover, navigation ul li:active, #navigation ul li:focus, #navigation ul li:hover{
	outline: none;
}
#navigation ul li a i{
	width: 20px;
	line-height: 55px !important;
}
#navigation ul li{
	height: 58px;	
	*margin-top:-3px;
	border: none;
	-webkit-transition: all 0.3s linear;  -moz-transition: all 0.3s linear;  -ms-transition: all 0.3s linear;  -o-transition: all 0.3s linear;  transition: all 0.3s linear;
}

#navigation ul li a:hover, #navigation ul li.ui-tabs-selected a {
	text-shadow:;
	background-position: 0 50px;
	text-decoration: none;
	position: relative;
	z-index: 2;
	background: #fff;
	color: #fff;
	outline: none;
	background: #0288b6;  
	-webkit-transition: all 0.3s linear;  -moz-transition: all 0.3s linear;  -ms-transition: all 0.3s linear;  -o-transition: all 0.3s linear;  transition: all 0.3s linear;
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid #0288b6;
}
#larch-style-options #navigation ul li a:before{
	font-family: 'FontAwesome';
    float: left;
    position: relative;
    left: 20px;
    top: 3px;
    width: 20px;
}

#navigation ul li span{
	float:left;
	line-height: 56px;
	padding-left: 3px;
}

#navigation ul li img{
	float:left;
	padding-top:5px;
	padding-left:15px;
	
}


#navigation ul{
	border-bottom:1px solid #000;
	*margin-top:3px;
	*border-width:0px;
}

#navigation{
	position:relative;
	top: 0px;
	
}

#header{
	width: 700px;
	height: 200px;
	display:block;
	background: #f3f3f3;
	position:relative;
	top:-5px;	 
	-webkit-border-radius: 0px 5px 0px 0px; border-radius: 0px 5px 0px 0px;
}

#theme_name{
	padding-left: 0;
	top: 45px;
	left: 0;
	position: relative;
	font-size: 28px;
	color: white;
	font-weight: 600;
	height: 16px;
	
;
	color: #333;
	text-shadow: none;
}
#theme_name span{
	font-size: 12px;
	color: #0288b6;
}

.tab_navigation {
	position:relative;
	left: 0;
	height: 40px;
	top: -18px;
	top/*\**/:-7px\9;  /* IE7 and IE8 only hack */
}

.tab_navigation ul li{
	display:inline;
	line-height: 40px;
	padding-left:20px;
	padding-right:20px;
	font-size: 13px;
	float:left;
	background: #F8F8F8;
	border-top: 3px solid #F8F8F8;
}

.tab_navigation ul li.ui-tabs-selected{

	padding-left:0px;
	padding-right:0px;

	background: #fff;

	color: #0288b6;

	border-top: 3px solid #0288b6;

}

a.tab{
	font-style: normal;	
	display:block;
	color: #7C7C7C;
	outline: none;
	font-size: 12px;
	text-decoration: none;
}

a.tab:hover{
	color: #7C7C7C;
	text-decoration: none;
}

.tab_navigation ul li.ui-tabs-selected a.tab, .tab_navigation ul li.ui-tabs-selected a.tab{
	display: inline-block;
	height: 40px;
	margin-top: 0;
	padding-right: 15px;
	/* the same value as the width of buttons_a.gif  */
	text-decoration: none;
	font-style:normal;
	color: #0288b6;
}
.tab_navigation ul li a.tab:focus{
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.tab_navigation ul li.ui-tabs-selected a.tab span, .tab_navigation ul li.ui-tabs-selected a.tab span{
	line-height: 35px;
	padding: 10px 0px 13px 15px;
	color: #0288b6;
	position:relative;
}

#options_container{
	position:relative;
	top:-30px;	
	min-height: 644px;
}

#options_container h4{
	width: 220px;
	float: left;
	padding-top: 5px;
	font-size: 13px;
	color: #666;
	font-weight: normal;
}

.custom-heading{
	width:200px;
	float:left;
	padding-top:7px;
	color:#828282;
	margin-left: 20px;
}

#options_container  select{
	width:240px;
}


#options_container input:not(.ed_button), #options_container select, #options_container textarea:not(.wp-editor-area){
	width:280px;
	padding:8px;	
	float:right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image:url(../images/input_bg.png);
	background-repeat:repeat-x;
	border:1px solid #F1F1F1;
	float:left;
	font-size:12px;
	color:#656565;
	
}


#options_container input#larch_import_style_options{
	margin-left: -80px;
}

#options_container .upload{
	width: 196px;
}

#options_container .custom-option input, #options_container .custom-option textarea{
	margin-bottom:10px;
	width:364px;
	*width:260px;
}

#options_container .custom-option .upload{
	width:199px;
	*width:170px;
}

#options_container textarea{	
	height:100px;	
}

#options_container select{
	height:32px;	
}

.option h3{
	font-size: 19px;
	position: relative;
	padding: 0 0 20px 0;
	top: 20px;
	text-shadow: none;
	font-family: Arial;
	font-weight: bold;
	color: #333;
	display: inline-block;
}

.option h5{
	font-size: 14px;
position: relative;

	/* text-transform: uppercase; */
font-weight: bold;
	color: #333;
}

.upload-panel{
	background: #333;
	display: block;
	line-height: 21px;
	padding: 5px 16px 5px 15px;
	font-size: 12px;
	font-weight: bold;
	word-spacing: 4px;
	color: #f2f2f2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 40px;
}
#sidebar_name_button, #sidebar_name_button:hover{
	background: #333;
	display: block;
	line-height: 21px;
	padding: 5px 16px 5px 15px;
	font-size: 12px;
	font-weight: bold;
	word-spacing: 4px;
	color: #f2f2f2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    width: 80px;
    left: -52px;
    position: relative;
}

#add_google_font_button, #add_google_font_button:hover{
	background: #333;
	display: block;
	line-height: 21px;
	padding: 5px 16px 5px 15px;
	font-size: 12px;
	font-weight: bold;
	word-spacing: 4px;
	color: #f2f2f2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 55px;
	position: relative;
	top: -34px;
}
#larch_export_options_button, #larch_export_options_button:hover, #larch_export_style_options_button, #larch_export_style_options_button:hover{
	background: #0288b6;
	display: block;
	line-height: 21px;
	padding: 5px 16px 5px 15px;
	font-size: 12px;
	font-weight: bold;
	word-spacing: 4px;
	color: #f2f2f2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 120px;
	position: relative;
	top: -47px;
	left: -100px;
}
#larch_reset_options_button, #larch_reset_options_button:hover, #larch_reset_style_options_button, #larch_reset_style_options_button:hover{
	background: #0288b6;
	display: block;
	line-height: 21px;
	padding: 5px 16px 5px 15px;
	font-size: 12px;
	font-weight: bold;
	word-spacing: 4px;
	color: #f2f2f2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 130px;
	position: relative;
	top: -47px;
	left: 124px;
}
#larch_apply_imported_settings_button, #larch_apply_imported_settings_button:hover, #larch_apply_imported_style_settings_button, #larch_apply_imported_style_settings_button:hover{
	background: #0288b6;
	display: block;
	line-height: 21px;
	padding: 5px 16px 5px 15px;
	font-size: 12px;
	font-weight: bold;
	word-spacing: 4px;
	color: #f2f2f2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 93px;
	top: 0;
	left: 377px;
}
#larch_google_fonts_name{width: 44% !important;}

/*
.upload-panel:hover{
	text-decoration: none !important;
	border: none !important;
	color: #999;
	background: #ededed; 	
}
*/

#options_container input.color{
	width:100px;
}

.color-preview{

	background-image:url(../images/color_window.png);
	background-color: transparent;
	float:left;
	height:32px;
	margin-left:3px;
	margin-top:1px;
	width:32px;
}



.upload-button{
	float:left;	
}

.upload-button a.larch-button{
	width:68px;	
}

.help-button{
	display:block;
	width:22px;
	height:22px;
	background:url(../images/help.png) no-repeat;
	position:absolute;
	top:16px;
	right:0;
}

.help-button:hover{
	opacity:0.8;
	filter:alpha(opacity=80)	
}

.help-dialog{
	display:none;	
}
	
.option{
	min-height:35px;
	padding:20px 0 20px 0;
	background-image:url(../images/option_bg.png);
	background-repeat:repeat-x;
	background-position:bottom;
	height:auto;
	overflow:hidden;
	position:relative;
	margin: 0 25px 0px 30px;
	z-index:10;
	float: left;
	width: 91%;
}

.custom-option{
	min-height:35px;
	height:auto;
	overflow:hidden;
}

.on-off, .left-right, .light-dark{
	display:block;
	width:97px;
	height:31px;
	background-image:url(../images/on_off.png);
	background-repeat:no-repeat;
	float:left;
	cursor:pointer;

}
.light-dark{
	display:block;
	width:97px;
	height:31px;
	background-image:url(../images/light_dark.png);
	background-repeat:no-repeat;
	float:left;
	cursor:pointer;

}
.left-right{
	display:block;
	width:97px;
	height:31px;
	background-image:url(../images/left_right.png);
	background-repeat:no-repeat;
	float:left;
	cursor:pointer;

}

.text-image{
	display:block;
	width:97px;
	height:31px;
	background-image:url(../images/image_text.png);
	background-repeat:no-repeat;
	float:left;
	cursor:pointer;

}

.on-off span, .text-image span, .left-right span, .light-dark span{
	display:block;
	width:46px;
	height:28px;
	background-image:url(../images/on_off_slide.png);
	background-repeat:no-repeat;
	margin:2px;

}

/* --------------------- BUTONS --------------------- */
a.larch-button {
	
}

a.larch-button span,a.larch-button span {
	
}

a.larch-button:hover,a.larch-button:hover {
	color: #fff;
	background-position: bottom right;
	cursor: pointer;
	text-decoration: none;
}

a.larch-button:hover span,a.larch-button:hover span {
	background-position: bottom left;
	cursor: pointer;
}

a.custom-option-button{
	float:right;
	*margin-top:20px;
}

body.appearance_page_larch_demos{position:relative;display:table;}
.appearance_page_larch_demos .ui-dialog .ui-dialog-buttonpane button{
	top: 20px !important;
    position: relative !important;
     margin-right: 0 !important;

}
.appearance_page_larch_demos .ui-dialog .ui-dialog-buttonpane button:active, .appearance_page_larch_demos .ui-dialog .ui-dialog-buttonpane button:focus{
	outline: none !important;
}
.appearance_page_larch_demos .ui-dialog .ui-dialog-buttonpane button.ui-state-hover{
	margin-right: 0px !important;
}

a.button-save,a.button-save {
	background: transparent url(../images/buttons_save_a.gif) no-repeat scroll
		top right;
	display: inline-block;
	height: 33px;
	margin-right: 6px;
	margin-top: 0;
	padding-right: 10px;
	/* the same value as the width of buttons_a.gif  */
	text-decoration: none;
	color: #f6f8fc;
	font-style:normal;
	text-shadow: 1px 1px #425474;
}

a.button-save span,a.button-save span {
	background: transparent url(../images/buttons_save_span.gif) no-repeat top
		left;
	display: block;
	line-height: 21px;
	padding: 5px 5px 7px 15px;
	font-size: 12px;
	font-weight:bold;
	word-spacing: 4px;
}

a.button-save:hover,a.button-save:hover {
	color: #fff;
	background-position: bottom right;
	cursor: pointer;
	text-decoration: none;
}

a.button-save:hover span,a.button-save:hover span {
	color: #fff;
	background-position: bottom left;
	cursor: pointer;
}

#follow-upper{
	float:left;
	margin-left:20px;
	margin-top: 11px;
	
	width: 199px;
}

#follow-upper p{
	color: #f2f2f2;
	
	margin: 0;
}

#follow-upper ul li{
	display:inline;
	text-decoration:none;
	display:block;
	float:left;
	margin-right:5px;
}
	
.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top:30px;
	float:left;
}

.sortable li {
	position: relative;
	background-color: #fff;
	margin-bottom:10px;
	padding: 10px;
	padding-right:30px;
	font-size: 12px;
	border: 1px solid #ccc;
	overflow: auto;
	min-height:35px;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.sortable li img{
	width:70px;
	height:70px;	
	float:left;
	background-color: #fff;
	border:1px solid #d5d5d5;
	padding:3px;
	margin-right:10px;
}

.sortable li:hover{
	background-color: #f3f6f8;	
	cursor:move;
	border-color:#90b2d1;
}

.deleteButton, .ui-icon-closethick {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../images/delete.png) no-repeat;
}

.ui-dialog{
	padding:7px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;	
	background:url(../images/trans.png) repeat;
}

.ui-dialog .ui-widget-header{
	height:30px;
	background: repeat-x;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	padding-left: 15px;
}

.ui-dialog .ui-widget-header .ui-icon-closethick {
	top:0px;
	left: 0px;
	display: none;
}

.ui-dialog-title{
	font-weight: bold;
    font-size: 15px;
    position: relative;
    line-height: 17px;
    top: 0;
    color: #4E4E4E;
    left: 5px;
}

.appearance_page_larch_demos .ui-widget-content {
    border: 1px solid #F1F1F1 !important;
    background: #EAEAEA !important;
    color: #666 !important;
    padding: 10px !important;
}

.ui-dialog .ui-widget-content{
	background-color: #fff !important;	
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	border-top:1px solid #bec4ca;
	margin-bottom:-14px;
	padding: 20px !important;
}

.ui-dialog{
	z-index: 9999999999999;
}

.styles-holder{
	width:100%;
	float:left;	
}

.style-box{
	width:32px;
	height:32px;	
	display:block;
	background-image:url(../images/color_window.png);
}

.styles-holder li{
	width:32px;
	height:32px;	
	float:left;
	margin-right:7px;
	margin-bottom:7px;
	display:block;
}

.selected-style a, a.style-box:hover, .color-preview:hover{
	background-image:url(../images/color_window_hover.png);	
}

a.style-box:hover{
	background-image:url(../images/color_window_hover.png) !important;	
}


.numbersign{
	float:left;
	font-size:16px;
	left:-3px;
	position:relative;
	top:7px;
	color:#ccc;
}


.check{
	width:25px;
	height:25px;
	display:block;
	background-image: url(../images/default.png);
	background-repeat: no-repeat;
	float:left;
	margin-right:5px;
}

.exclude .check{
	background-image: url(../images/yes.png);;
}

.exclude .selected-check{
	background-image: url(../images/no.png);
}

.include .check{
	background-image: url(../images/no.png);;
}

.include .selected-check{
	background-image: url(../images/yes.png);	
}

.check-value{
float:left;
line-height:1.9em;
padding-bottom: 5px;
}

.check-holder{
display:block;
overflow:hidden;
}

.option-check{
overflow:hidden;
}

.ui-sortable .check-holder{cursor: ns-resize !important;}

.note_box, .warning_box{
	margin: 20px 0 5px 20px;
	background-color: rgba(123, 207, 17, 0.3);
	padding: 15px 15px 15px 55px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: rgb(110, 140, 71);
	border: 1px solid rgba(123, 207, 17, 0.3);
	margin-right: 3.8%;
	width: auto;
	position: relative;
}

.note_box:before, .warning_box:before {
  position: absolute;
  top: 30px;
  left: 38px;
  font-size: 24px;
  font-family: 'FontAwesome';
  content: '\f05a';
  -webkit-font-smoothing: antialiased;
  color: rgb(110, 140, 71);
  line-height: 1;
  float: left;
}
#setting-error-tgmpa .note_box:before, #setting-error-tgmpa .warning_box:before{
	display: none !important;
}
.appearance_page_larch_demos .note_box:before, .appearance_page_larch_demos .warning_box:before{
	top: 15px;
    left: 20px;
}
.note_box#saved_box:before {
	top: 10px !important;
    left: 15px !important;
}
.appearance_page_larch_demos .ui-widget-overlay {
    background: black !important;
    opacity: .85 !important;
    filter: Alpha(Opacity=85) !important;
}
.warning_box{
	background: url("../images/warning.png") no-repeat scroll 10px 16px #ffee9d;
    border: 1px solid #f7dc42;
    color: #a67a00;
}

.option .note_box{
	width:auto;	
}

.note_box p{
	margin-top:0px;
	margin-bottom:0px;
	padding-left: 10px;
	text-shadow: 0 1px 0 #fff;
}

a.more-button{
	width:143px;
	height:38px;
	display:block;
	background-image: url(../images/getmore.png);	
	float:right;
	position:absolute;
	top:27px;
	right:33px;
}

a.more-button:hover{
	background-position: bottom;	
}

.option ul.list{
	margin-left:30px;	
}

.option ul.list li{
	list-style: inside;
	list-style-image: url(../images/dblue.gif);	
	line-height:2em;
}
#options_container option{
	padding:7px;	
}

/*-------------- VERSION 2.4 --------------*/

.editButton{
 height: 16px;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 16px;
    background: url(../images/edit.png) no-repeat;
}

.doneButton {
 height: 16px;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 16px;
    background: url(../images/done.png) no-repeat;
}

#options_container .sortable li input{
float:none;
}

#options_container .sortable input.selected{
border:1px solid #828282;	
}

#options_container option.caption{
font-weight:bold;
text-align:center;
background-color: #ededed;
}

option.disabled{
color:#aaa;
background-color: #fff;
}
.online-doc{
	color: #B1B1B1;
	font-size: 12px;
	margin: 35px 5px 31px 0;
	position: relative;
	top: 52px;
	padding: 7px 13px;
	background: #fff;
	-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
}
.support{
	margin: 0; 




	color: #B1B1B1; font-size: 12px;  position: relative; 
	top: 52px; 
	padding: 7px 13px; 
	background: #FFF; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -ms-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;
}
.online-doc:hover, .support:hover{
	background: #0288b6 !important;
	color: #fff;
	text-decoration: none;
}
#content input.save-button{
	background: #0288b6;
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: white;
	float: right;
	margin: 0;
	padding: 10px 18px;
	position: absolute;
	top: 72px;
	right: 35px;
	font-weight: bold;
	line-height: 20px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: 600;
}
#content input.save-button:focus, #larch-footer input.save-button:focus{outline: none;}
#larch-footer input.save-button{
	background: #0288b6;
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: white;
	float: right;
	margin: 0;
	padding: 10px 15px;
	position: relative;
	top: 20px;
	right: 20px;
	font-weight: bold;
	line-height: 20px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	font-size: 13px;
	text-transform: uppercase;
}
input.save-button:hover{
	background: #28a39a !important;
	cursor: pointer;
}
#options_container textarea.inputarea{
width:300px;
 float: right;
}

.slider{
	 width: 216px; 
	 float: left;
	 margin-top: 7px;
}

#tab_navigation-9-customcss textarea{
	width: 580px;
	height: 400px;
	margin-left: 30px;
	margin-top: 10px;
}

.screenshot_container{
	width: 200px;
	margin: 0 auto;
	border: 2px solid #0001;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	float: left;
	margin: 30px 0px 0px 15px;
	left: 15px;
	position: relative;
	border-radius: 6px;
}
.screenshot_container.selected{
	border: 2px solid #0288b6;
	opacity: 1;
	background: #fff;
}

.screenshot_container img{
	cursor: pointer;
	display: block;
	width: 200px;
    height: 116px;
	text-indent: -9999px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.style-0{
	background-image: url(../images/h1.jpg);
}
.style-1{
	background-image: url(../images/h2.jpg);
}
.style-2{
	background-image: url(../images/h3.jpg);
}
.style-3{
	background-image: url(../images/h4.jpg);
}
.style-4{
	background-image: url(../images/h5.jpg);
}
.style-5{
	background-image: url(../images/h6.jpg);
}


#tab_navigation-3-header_layout h4{margin-left: 0 !important;}

.des_templater_buttons{position: relative;float: right;top: -10px;}
.des_templater_buttons > div {
	position: relative;
	float: left;
	overflow: hidden;
	border: 1px solid #ededed;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	cursor: pointer;
	text-align: center;
	top: 10px;
	line-height: 30px;
	color: #555;
	font-size: 12px;
	background-color: #fff; 
	padding: 0px 10px;
}
.des_load_template div{background: #fff url(../images/sprite.png) 12px -411px no-repeat;
	height: 28px;
width: 30px;
float: left;
position: relative;
}

.des_save_current_template div{background: #fff url(../images/sprite.png) -97px -411px no-repeat;
height: 28px;
width: 30px;
float: left;
position: relative;
}

.des_save_new_template div{background: #FFF url(../images/sprite.png) -178px -411px no-repeat;
height: 28px;
width: 30px;
float: left;
position: relative;}

.des_delete_current_template div{background: #fff url(../images/sprite.png) -259px -411px no-repeat;
	height: 28px;
width: 30px;
float: left;
position: relative;
}

.des_templater_buttons > div:hover{border: 1px solid #ddd;}

.ui-widget-overlay.ui-front{z-index:9999999;position:fixed;}
.ui-dialog{position: fixed;}
.ui-dialog .ui-dialog-titlebar-close span{text-indent:-9999999px;}
.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close span{outline: none;}

.msg_save_success, .msg_deleted, .msg_new_save, .msg_loaded{
	position: absolute;
	top: 70px;
	left: 10px;
	width: 96%;
	margin: 0px auto;
	text-align: center;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	opacity: 0;
	filter: alpha(opacity=0);
	color: #fff;
	padding: 10px;
	/* position: relative; */
	margin: 0 0 40px 0;
	background: rgba(66,183,175, .8);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#des_templater_general, #des_templater_body, #des_templater_header, #des_templater_menu, #des_templater_pagetitle, #des_templater_footer, #des_templater_text{padding: 40px 0px 20px 0px !important;}

/* FF bug with the templater */
#des_templater_general > option, #des_templater_body > option, #des_templater_header > option, #des_templater_menu > option, #des_templater_pagetitle > option, #des_templater_footer > option, #des_templater_text > option{display: none;}

.larch_demo_progress{padding:20px;}
.larch_demo_progress li{list-style: disc;}
.larch_demo_status{overflow:visible !important;}
.ui-resizable-handle{visibility:hidden;}
.larch_demo_status p{position: absolute;bottom: -56px;right: 70px;margin-top: 0;margin-bottom: 0;line-height: 1.4em !important;}
#des_demo .demos_list li{position: relative; float: left; width: 220px; height: 120px; border: 1px solid #ededed; margin: 4px; text-align: center; line-height: 120px; cursor: pointer;}
.ui-resizable-handle{display:none;}

textarea[name=larch_custom_css]{
	height: 400px !important;
	margin-left: 35px !important;
	width: 90% !important;
	padding: 20px !important;
	font-size: 13px !important;
}

input.slider-input{
	color: #B6B6B6 !important;
	width: 50px !important;
	position: absolute;
	background: none;
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.3em !important;
}
#tab_navigation-8-customcss .option{
	background-image: none !important;
}

/* esconder as opÃƒÆ’Ã‚Â§ÃƒÆ’Ã‚Âµes que serÃƒÆ’Ã‚Â£o usadas no templater. [nÃƒÆ’Ã‚Â£o vai ser usado o templater] */
#des_templater_master{display: none;}
/* o templater jÃƒÆ’Ã‚Â¡ nÃƒÆ’Ã‚Â£o serÃƒÆ’Ã‚Â¡ usado. pequenos ajustes no painel das opÃƒÆ’Ã‚Â§ÃƒÆ’Ã‚Âµes do style. */
#larch-style-options #sidebar #navigation{top:-20px;}
#larch-style-options #content #header{height:180px;}

#larch-style-options #navigation li span{padding-left: 0 !important;}

.des_go_to{position: absolute;right: 30px;top:80px;z-index: 99;}
.des_go_to a{text-decoration: none;}


#qt_larch_footer_custom_text_toolbar.quicktags-toolbar{display: none;}
.textarea_wysiwyg_container{position: relative;float: left;width: 100%;}
.textarea_wysiwyg_container > div {width: 100%;float: left;}
.textarea_wysiwyg_container .mce-tinymce .mce-container-body.mce-stack-layout{border:1px solid #ededed;padding-bottom: 5px;}
#wp-larch_footer_custom_text-wrap{position: absolute;}
.larch_footer_custom_text_editor-editor-container{border:none;}
.textarea_wysiwyg_container p.submit #submit{width: auto;padding: 10px 20px;margin: 10px 0px;line-height: 0;float: right;}
#larch_footer_custom_text_editor_ifr{min-height: 150px;}

.previewimg{
  background: #f5f5f5;
  padding: 20px;
}
.larch_demos_page #follow-upper{margin-top:5px;}
.larch_demos_page .theme-browser .theme .theme-actions{    top: auto !important;bottom: -24px !important;}

/*  NEW STUFF FOR THE DES DEMOS PAGE.  */
.larch_demos_page#header, .larch_demos_page#larch-footer, .larch_demos_page#larch_demos_container{height: auto;display: inline-block;padding: 20px 0 20px 20px;width: auto;width: 98%;}
.larch_demos_page #logo{background-repeat-x:no-repeat;float:left;padding-top:0px;display: inline-block;top:0px;}
.larch_demos_page .theme-count{text-shadow: none;}

.larch_demos_page#larch_demos_container > h2{margin-top: 10px;}
.larch_demos_page#larch_demos_container .theme-browser{margin-left: 0;width: 100%;}
.larch_demos_page#larch_demos_container .theme-browser .theme{margin: 0 2.3% 2.3% 0;}
.larch_demos_page#larch_demos_container h3.theme-name{color: #000;}
.larch_demos_page#larch_demos_container .more-details{padding: 25px 12px !important;}
.larch_demos_page#larch_demos_container .more-details a{outline: none;outline: 0;box-shadow: none;text-decoration: none;color:white;position: absolute;left: 0; width: 100%;top: 35%; height: 100%;}
.larch_demos_page#larch_demos_container .more-details a:hover{text-decoration: none;}


.larch_demos_page #follow-upper{margin-top:5px;}


/* website loaders */
.loaders-container {width: 100%;box-sizing: border-box;display: flex;flex: 0 1 auto;flex-direction: row;flex-wrap: wrap; background: #d5d5d5;float: left;}
.loaders-container .loader-item {box-sizing: border-box;display: flex;flex: 0 1 auto;flex-direction: column;flex-grow: 1;flex-shrink: 0;flex-basis: 25%;max-width: 20%;height: 150px;align-items: center;justify-content: center;cursor: pointer;border: 2px solid transparent;}
.loaders-container .loader-item.selected{border-color:black;background-color:#999;}

@-webkit-keyframes scale{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}45%{-webkit-transform:scale(0.1);transform:scale(0.1);opacity:.7}80%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}45%{-webkit-transform:scale(0.1);transform:scale(0.1);opacity:.7}80%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}.ball-pulse>div:nth-child(0){-webkit-animation:scale .75s -.36s infinite cubic-bezier(.2,.68,.18,1.08);animation:scale .75s -.36s infinite cubic-bezier(.2,.68,.18,1.08)}.ball-pulse>div:nth-child(1){-webkit-animation:scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);animation:scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08)}.ball-pulse>div:nth-child(2){-webkit-animation:scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);animation:scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08)}.ball-pulse>div:nth-child(3){-webkit-animation:scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);animation:scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08)}.ball-pulse>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block}@-webkit-keyframes ball-pulse-sync{33%{-webkit-transform:translateY(10px);transform:translateY(10px)}66%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes ball-pulse-sync{33%{-webkit-transform:translateY(10px);transform:translateY(10px)}66%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}.ball-pulse-sync>div:nth-child(0){-webkit-animation:ball-pulse-sync .6s -.21s infinite ease-in-out;animation:ball-pulse-sync .6s -.21s infinite ease-in-out}.ball-pulse-sync>div:nth-child(1){-webkit-animation:ball-pulse-sync .6s -.14s infinite ease-in-out;animation:ball-pulse-sync .6s -.14s infinite ease-in-out}.ball-pulse-sync>div:nth-child(2){-webkit-animation:ball-pulse-sync .6s -.07s infinite ease-in-out;animation:ball-pulse-sync .6s -.07s infinite ease-in-out}.ball-pulse-sync>div:nth-child(3){-webkit-animation:ball-pulse-sync .6s 0s infinite ease-in-out;animation:ball-pulse-sync .6s 0s infinite ease-in-out}.ball-pulse-sync>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block}@-webkit-keyframes ball-scale{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@keyframes ball-scale{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}.ball-scale>div{background-color:#fff;border-radius:100%;margin:2px;display:inline-block;height:60px;width:60px;-webkit-animation:ball-scale 1s 0s ease-in-out infinite;animation:ball-scale 1s 0s ease-in-out infinite}@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.ball-rotate{position:relative}.ball-rotate>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;position:relative}.ball-rotate>div:first-child{-webkit-animation:rotate 1s 0s cubic-bezier(.7,-.13,.22,.86) infinite;animation:rotate 1s 0s cubic-bezier(.7,-.13,.22,.86) infinite}.ball-rotate>div:after,.ball-rotate>div:before{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;content:"";position:absolute;opacity:.8}.ball-rotate>div:before{top:0;left:-28px}.ball-rotate>div:after{top:0;left:25px}@keyframes rotate{0%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}50%{-webkit-transform:rotate(180deg) scale(0.6);transform:rotate(180deg) scale(0.6)}100%{-webkit-transform:rotate(360deg) scale(1);transform:rotate(360deg) scale(1)}}.ball-clip-rotate>div{border-radius:100%;margin:2px;border:2px solid #fff;border-bottom-color:transparent;height:25px;width:25px;background:0 0!important;display:inline-block;-webkit-animation:rotate .75s 0s linear infinite;animation:rotate .75s 0s linear infinite}@keyframes rotate{0%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}50%{-webkit-transform:rotate(180deg) scale(0.6);transform:rotate(180deg) scale(0.6)}100%{-webkit-transform:rotate(360deg) scale(1);transform:rotate(360deg) scale(1)}}@keyframes scale{30%{-webkit-transform:scale(0.3);transform:scale(0.3)}100%{-webkit-transform:scale(1);transform:scale(1)}}.ball-clip-rotate-pulse{position:relative;-webkit-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px)}.ball-clip-rotate-pulse>div{-webkit-animation-fill-mode:both;animation-fill-mode:both;position:absolute;top:0;left:0;border-radius:100%}.ball-clip-rotate-pulse>div:first-child{background:#fff;height:16px;width:16px;top:7px;left:-7px;-webkit-animation:scale 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;animation:scale 1s 0s cubic-bezier(.09,.57,.49,.9) infinite}.ball-clip-rotate-pulse>div:last-child{position:absolute;width:30px;height:30px;left:-16px;top:-2px;background:0 0;border:2px solid;border-color:#fff transparent;-webkit-animation:rotate 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;animation:rotate 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;-webkit-animation-duration:1s;animation-duration:1s}@keyframes rotate{0%{-webkit-transform:rotate(0deg) scale(1);transform:rotate(0deg) scale(1)}50%{-webkit-transform:rotate(180deg) scale(0.6);transform:rotate(180deg) scale(0.6)}100%{-webkit-transform:rotate(360deg) scale(1);transform:rotate(360deg) scale(1)}}.ball-clip-rotate-multiple{position:relative}.ball-clip-rotate-multiple>div{position:absolute;left:-20px;top:-20px;border:2px solid #fff;border-bottom-color:transparent;border-top-color:transparent;border-radius:100%;height:35px;width:35px;-webkit-animation:rotate 1s 0s ease-in-out infinite;animation:rotate 1s 0s ease-in-out infinite}.ball-clip-rotate-multiple>div:last-child{display:inline-block;top:-10px;left:-10px;width:15px;height:15px;-webkit-animation-duration:.5s;animation-duration:.5s;border-color:#fff transparent;-webkit-animation-direction:reverse;animation-direction:reverse}@-webkit-keyframes ball-scale-ripple{0%{-webkit-transform:scale(0.1);transform:scale(0.1);opacity:1}70%{-webkit-transform:scale(1);transform:scale(1);opacity:.7}100%{opacity:0}}@keyframes ball-scale-ripple{0%{-webkit-transform:scale(0.1);transform:scale(0.1);opacity:1}70%{-webkit-transform:scale(1);transform:scale(1);opacity:.7}100%{opacity:0}}.ball-scale-ripple>div{height:50px;width:50px;border-radius:100%;border:2px solid #fff;-webkit-animation:ball-scale-ripple 1s 0s infinite cubic-bezier(.21,.53,.56,.8);animation:ball-scale-ripple 1s 0s infinite cubic-bezier(.21,.53,.56,.8)}@-webkit-keyframes ball-scale-ripple-multiple{0%{-webkit-transform:scale(0.1);transform:scale(0.1);opacity:1}70%{-webkit-transform:scale(1);transform:scale(1);opacity:.7}100%{opacity:0}}@keyframes ball-scale-ripple-multiple{0%{-webkit-transform:scale(0.1);transform:scale(0.1);opacity:1}70%{-webkit-transform:scale(1);transform:scale(1);opacity:.7}100%{opacity:0}}.ball-scale-ripple-multiple{position:relative;-webkit-transform:translateY(-25px);-ms-transform:translateY(-25px);transform:translateY(-25px)}.ball-scale-ripple-multiple>div:nth-child(0){-webkit-animation-delay:-.8s;animation-delay:-.8s}.ball-scale-ripple-multiple>div:nth-child(1){-webkit-animation-delay:-.6s;animation-delay:-.6s}.ball-scale-ripple-multiple>div:nth-child(2){-webkit-animation-delay:-.4s;animation-delay:-.4s}.ball-scale-ripple-multiple>div:nth-child(3){-webkit-animation-delay:-.2s;animation-delay:-.2s}.ball-scale-ripple-multiple>div{position:absolute;top:-2px;left:-26px;width:50px;height:50px;border-radius:100%;border:2px solid #fff;-webkit-animation:ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21,.53,.56,.8);animation:ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21,.53,.56,.8)}@-webkit-keyframes ball-beat{50%{opacity:.2;-webkit-transform:scale(0.75);transform:scale(0.75)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes ball-beat{50%{opacity:.2;-webkit-transform:scale(0.75);transform:scale(0.75)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}.ball-beat>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;display:inline-block;-webkit-animation:ball-beat .7s 0s infinite linear;animation:ball-beat .7s 0s infinite linear}.ball-beat>div:nth-child(2n-1){-webkit-animation-delay:-.35s!important;animation-delay:-.35s!important}@-webkit-keyframes ball-scale-multiple{0%{-webkit-transform:scale(0);transform:scale(0);opacity:0}5%{opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@keyframes ball-scale-multiple{0%{-webkit-transform:scale(0);transform:scale(0);opacity:0}5%{opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}.ball-scale-multiple{position:relative;-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px)}.ball-scale-multiple>div:nth-child(2){-webkit-animation-delay:-.4s;animation-delay:-.4s}.ball-scale-multiple>div:nth-child(3){-webkit-animation-delay:-.2s;animation-delay:-.2s}.ball-scale-multiple>div{background-color:#fff;border-radius:100%;position:absolute;left:-30px;top:0;opacity:0;margin:0;width:60px;height:60px;-webkit-animation:ball-scale-multiple 1s 0s linear infinite;animation:ball-scale-multiple 1s 0s linear infinite}@-webkit-keyframes ball-triangle-path-1{33%{-webkit-transform:translate(25px,-50px);transform:translate(25px,-50px)}66%{-webkit-transform:translate(50px,0);transform:translate(50px,0)}100%{-webkit-transform:translate(0px,0);transform:translate(0px,0)}}@keyframes ball-triangle-path-1{33%{-webkit-transform:translate(25px,-50px);transform:translate(25px,-50px)}66%{-webkit-transform:translate(50px,0);transform:translate(50px,0)}100%{-webkit-transform:translate(0px,0);transform:translate(0px,0)}}@-webkit-keyframes ball-triangle-path-2{33%{-webkit-transform:translate(25px,50px);transform:translate(25px,50px)}66%{-webkit-transform:translate(-25px,50px);transform:translate(-25px,50px)}100%{-webkit-transform:translate(0px,0);transform:translate(0px,0)}}@keyframes ball-triangle-path-2{33%{-webkit-transform:translate(25px,50px);transform:translate(25px,50px)}66%{-webkit-transform:translate(-25px,50px);transform:translate(-25px,50px)}100%{-webkit-transform:translate(0px,0);transform:translate(0px,0)}}@-webkit-keyframes ball-triangle-path-3{33%{-webkit-transform:translate(-50px,0);transform:translate(-50px,0)}66%{-webkit-transform:translate(-25px,-50px);transform:translate(-25px,-50px)}100%{-webkit-transform:translate(0px,0);transform:translate(0px,0)}}@keyframes ball-triangle-path-3{33%{-webkit-transform:translate(-50px,0);transform:translate(-50px,0)}66%{-webkit-transform:translate(-25px,-50px);transform:translate(-25px,-50px)}100%{-webkit-transform:translate(0px,0);transform:translate(0px,0)}}.ball-triangle-path{position:relative;-webkit-transform:translate(-29.99px,-37.51px);-ms-transform:translate(-29.99px,-37.51px);transform:translate(-29.99px,-37.51px)}.ball-triangle-path>div:nth-child(1){-webkit-animation-name:ball-triangle-path-1;animation-name:ball-triangle-path-1;-webkit-animation-delay:0;animation-delay:0;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.ball-triangle-path>div:nth-child(2){-webkit-animation-name:ball-triangle-path-2;animation-name:ball-triangle-path-2;-webkit-animation-delay:0;animation-delay:0;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.ball-triangle-path>div:nth-child(3){-webkit-animation-name:ball-triangle-path-3;animation-name:ball-triangle-path-3;-webkit-animation-delay:0;animation-delay:0;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.ball-triangle-path>div{-webkit-animation-fill-mode:both;animation-fill-mode:both;position:absolute;width:10px;height:10px;border-radius:100%;border:1px solid #fff}.ball-triangle-path>div:nth-of-type(1){top:50px}.ball-triangle-path>div:nth-of-type(2){left:25px}.ball-triangle-path>div:nth-of-type(3){top:50px;left:50px}@-webkit-keyframes ball-pulse-rise-even{0%{-webkit-transform:scale(1.1);transform:scale(1.1)}25%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}50%{-webkit-transform:scale(0.4);transform:scale(0.4)}75%{-webkit-transform:translateY(30px);transform:translateY(30px)}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform:scale(1);transform:scale(1)}}@keyframes ball-pulse-rise-even{0%{-webkit-transform:scale(1.1);transform:scale(1.1)}25%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}50%{-webkit-transform:scale(0.4);transform:scale(0.4)}75%{-webkit-transform:translateY(30px);transform:translateY(30px)}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes ball-pulse-rise-odd{0%{-webkit-transform:scale(0.4);transform:scale(0.4)}25%{-webkit-transform:translateY(30px);transform:translateY(30px)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}75%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform:scale(0.75);transform:scale(0.75)}}@keyframes ball-pulse-rise-odd{0%{-webkit-transform:scale(0.4);transform:scale(0.4)}25%{-webkit-transform:translateY(30px);transform:translateY(30px)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}75%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform:scale(0.75);transform:scale(0.75)}}.ball-pulse-rise>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:cubic-bezier(.15,.46,.9,.6);animation-timing-function:cubic-bezier(.15,.46,.9,.6);-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-delay:0;animation-delay:0}.ball-pulse-rise>div:nth-child(2n){-webkit-animation-name:ball-pulse-rise-even;animation-name:ball-pulse-rise-even}.ball-pulse-rise>div:nth-child(2n-1){-webkit-animation-name:ball-pulse-rise-odd;animation-name:ball-pulse-rise-odd}@-webkit-keyframes ball-grid-beat{50%{opacity:.7}100%{opacity:1}}@keyframes ball-grid-beat{50%{opacity:.7}100%{opacity:1}}.ball-grid-beat{width:57px}.ball-grid-beat>div:nth-child(1){-webkit-animation-delay:-.07s;animation-delay:-.07s;-webkit-animation-duration:1.53s;animation-duration:1.53s}.ball-grid-beat>div:nth-child(2){-webkit-animation-delay:.72s;animation-delay:.72s;-webkit-animation-duration:.94s;animation-duration:.94s}.ball-grid-beat>div:nth-child(3){-webkit-animation-delay:.11s;animation-delay:.11s;-webkit-animation-duration:1.25s;animation-duration:1.25s}.ball-grid-beat>div:nth-child(4){-webkit-animation-delay:.13s;animation-delay:.13s;-webkit-animation-duration:1.01s;animation-duration:1.01s}.ball-grid-beat>div:nth-child(5){-webkit-animation-delay:.1s;animation-delay:.1s;-webkit-animation-duration:1.2s;animation-duration:1.2s}.ball-grid-beat>div:nth-child(6){-webkit-animation-delay:.18s;animation-delay:.18s;-webkit-animation-duration:.97s;animation-duration:.97s}.ball-grid-beat>div:nth-child(7){-webkit-animation-delay:-.09s;animation-delay:-.09s;-webkit-animation-duration:.67s;animation-duration:.67s}.ball-grid-beat>div:nth-child(8){-webkit-animation-delay:.42s;animation-delay:.42s;-webkit-animation-duration:.92s;animation-duration:.92s}.ball-grid-beat>div:nth-child(9){-webkit-animation-delay:.52s;animation-delay:.52s;-webkit-animation-duration:1.43s;animation-duration:1.43s}.ball-grid-beat>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block;float:left;-webkit-animation-name:ball-grid-beat;animation-name:ball-grid-beat;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-delay:0;animation-delay:0}@-webkit-keyframes ball-grid-pulse{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.5);transform:scale(0.5);opacity:.7}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes ball-grid-pulse{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.5);transform:scale(0.5);opacity:.7}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}.ball-grid-pulse{width:57px}.ball-grid-pulse>div:nth-child(1){-webkit-animation-delay:.73s;animation-delay:.73s;-webkit-animation-duration:1.3s;animation-duration:1.3s}.ball-grid-pulse>div:nth-child(2){-webkit-animation-delay:.32s;animation-delay:.32s;-webkit-animation-duration:1.3s;animation-duration:1.3s}.ball-grid-pulse>div:nth-child(3){-webkit-animation-delay:.71s;animation-delay:.71s;-webkit-animation-duration:.88s;animation-duration:.88s}.ball-grid-pulse>div:nth-child(4){-webkit-animation-delay:.62s;animation-delay:.62s;-webkit-animation-duration:1.06s;animation-duration:1.06s}.ball-grid-pulse>div:nth-child(5){-webkit-animation-delay:.31s;animation-delay:.31s;-webkit-animation-duration:.62s;animation-duration:.62s}.ball-grid-pulse>div:nth-child(6){-webkit-animation-delay:-.14s;animation-delay:-.14s;-webkit-animation-duration:1.48s;animation-duration:1.48s}.ball-grid-pulse>div:nth-child(7){-webkit-animation-delay:-.1s;animation-delay:-.1s;-webkit-animation-duration:1.47s;animation-duration:1.47s}.ball-grid-pulse>div:nth-child(8){-webkit-animation-delay:.4s;animation-delay:.4s;-webkit-animation-duration:1.49s;animation-duration:1.49s}.ball-grid-pulse>div:nth-child(9){-webkit-animation-delay:.73s;animation-delay:.73s;-webkit-animation-duration:.7s;animation-duration:.7s}.ball-grid-pulse>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block;float:left;-webkit-animation-name:ball-grid-pulse;animation-name:ball-grid-pulse;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-delay:0;animation-delay:0}@-webkit-keyframes ball-spin-fade-loader{50%{opacity:.3;-webkit-transform:scale(0.4);transform:scale(0.4)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes ball-spin-fade-loader{50%{opacity:.3;-webkit-transform:scale(0.4);transform:scale(0.4)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}.ball-spin-fade-loader{position:relative;top:-10px;left:-10px}.ball-spin-fade-loader>div:nth-child(1){top:25px;left:0;-webkit-animation:ball-spin-fade-loader 1s -.96s infinite linear;animation:ball-spin-fade-loader 1s -.96s infinite linear}.ball-spin-fade-loader>div:nth-child(2){top:17.05px;left:17.05px;-webkit-animation:ball-spin-fade-loader 1s -.84s infinite linear;animation:ball-spin-fade-loader 1s -.84s infinite linear}.ball-spin-fade-loader>div:nth-child(3){top:0;left:25px;-webkit-animation:ball-spin-fade-loader 1s -.72s infinite linear;animation:ball-spin-fade-loader 1s -.72s infinite linear}.ball-spin-fade-loader>div:nth-child(4){top:-17.05px;left:17.05px;-webkit-animation:ball-spin-fade-loader 1s -.6s infinite linear;animation:ball-spin-fade-loader 1s -.6s infinite linear}.ball-spin-fade-loader>div:nth-child(5){top:-25px;left:0;-webkit-animation:ball-spin-fade-loader 1s -.48s infinite linear;animation:ball-spin-fade-loader 1s -.48s infinite linear}.ball-spin-fade-loader>div:nth-child(6){top:-17.05px;left:-17.05px;-webkit-animation:ball-spin-fade-loader 1s -.36s infinite linear;animation:ball-spin-fade-loader 1s -.36s infinite linear}.ball-spin-fade-loader>div:nth-child(7){top:0;left:-25px;-webkit-animation:ball-spin-fade-loader 1s -.24s infinite linear;animation:ball-spin-fade-loader 1s -.24s infinite linear}.ball-spin-fade-loader>div:nth-child(8){top:17.05px;left:-17.05px;-webkit-animation:ball-spin-fade-loader 1s -.12s infinite linear;animation:ball-spin-fade-loader 1s -.12s infinite linear}.ball-spin-fade-loader>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;position:absolute}@-webkit-keyframes ball-spin-loader{75%{opacity:.2}100%{opacity:1}}@keyframes ball-spin-loader{75%{opacity:.2}100%{opacity:1}}.ball-spin-loader{position:relative}.ball-spin-loader>span:nth-child(1){top:45px;left:0;-webkit-animation:ball-spin-loader 2s .9s infinite linear;animation:ball-spin-loader 2s .9s infinite linear}.ball-spin-loader>span:nth-child(2){top:30.68px;left:30.68px;-webkit-animation:ball-spin-loader 2s 1.8s infinite linear;animation:ball-spin-loader 2s 1.8s infinite linear}.ball-spin-loader>span:nth-child(3){top:0;left:45px;-webkit-animation:ball-spin-loader 2s 2.7s infinite linear;animation:ball-spin-loader 2s 2.7s infinite linear}.ball-spin-loader>span:nth-child(4){top:-30.68px;left:30.68px;-webkit-animation:ball-spin-loader 2s 3.6s infinite linear;animation:ball-spin-loader 2s 3.6s infinite linear}.ball-spin-loader>span:nth-child(5){top:-45px;left:0;-webkit-animation:ball-spin-loader 2s 4.5s infinite linear;animation:ball-spin-loader 2s 4.5s infinite linear}.ball-spin-loader>span:nth-child(6){top:-30.68px;left:-30.68px;-webkit-animation:ball-spin-loader 2s 5.4s infinite linear;animation:ball-spin-loader 2s 5.4s infinite linear}.ball-spin-loader>span:nth-child(7){top:0;left:-45px;-webkit-animation:ball-spin-loader 2s 6.3s infinite linear;animation:ball-spin-loader 2s 6.3s infinite linear}.ball-spin-loader>span:nth-child(8){top:30.68px;left:-30.68px;-webkit-animation:ball-spin-loader 2s 7.2s infinite linear;animation:ball-spin-loader 2s 7.2s infinite linear}.ball-spin-loader>div{-webkit-animation-fill-mode:both;animation-fill-mode:both;position:absolute;width:15px;height:15px;border-radius:100%;background:green}@-webkit-keyframes ball-zig{33%{-webkit-transform:translate(-15px,-30px);transform:translate(-15px,-30px)}66%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes ball-zig{33%{-webkit-transform:translate(-15px,-30px);transform:translate(-15px,-30px)}66%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@-webkit-keyframes ball-zag{33%{-webkit-transform:translate(15px,30px);transform:translate(15px,30px)}66%{-webkit-transform:translate(-15px,30px);transform:translate(-15px,30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes ball-zag{33%{-webkit-transform:translate(15px,30px);transform:translate(15px,30px)}66%{-webkit-transform:translate(-15px,30px);transform:translate(-15px,30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}.ball-zig-zag{position:relative;-webkit-transform:translate(-15px,-15px);-ms-transform:translate(-15px,-15px);transform:translate(-15px,-15px)}.ball-zig-zag>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px 2px 2px 15px;-webkit-animation-fill-mode:both;animation-fill-mode:both;position:absolute;top:4px;left:-7px}.ball-zig-zag>div:first-child{-webkit-animation:ball-zig .7s 0s infinite linear;animation:ball-zig .7s 0s infinite linear}.ball-zig-zag>div:last-child{-webkit-animation:ball-zag .7s 0s infinite linear;animation:ball-zag .7s 0s infinite linear}@-webkit-keyframes ball-zig-deflect{17%{-webkit-transform:translate(-15px,-30px);transform:translate(-15px,-30px)}34%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}50%{-webkit-transform:translate(0,0);transform:translate(0,0)}67%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}84%{-webkit-transform:translate(-15px,-30px);transform:translate(-15px,-30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes ball-zig-deflect{17%{-webkit-transform:translate(-15px,-30px);transform:translate(-15px,-30px)}34%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}50%{-webkit-transform:translate(0,0);transform:translate(0,0)}67%{-webkit-transform:translate(15px,-30px);transform:translate(15px,-30px)}84%{-webkit-transform:translate(-15px,-30px);transform:translate(-15px,-30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@-webkit-keyframes ball-zag-deflect{17%{-webkit-transform:translate(15px,30px);transform:translate(15px,30px)}34%{-webkit-transform:translate(-15px,30px);transform:translate(-15px,30px)}50%{-webkit-transform:translate(0,0);transform:translate(0,0)}67%{-webkit-transform:translate(-15px,30px);transform:translate(-15px,30px)}84%{-webkit-transform:translate(15px,30px);transform:translate(15px,30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes ball-zag-deflect{17%{-webkit-transform:translate(15px,30px);transform:translate(15px,30px)}34%{-webkit-transform:translate(-15px,30px);transform:translate(-15px,30px)}50%{-webkit-transform:translate(0,0);transform:translate(0,0)}67%{-webkit-transform:translate(-15px,30px);transform:translate(-15px,30px)}84%{-webkit-transform:translate(15px,30px);transform:translate(15px,30px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}.ball-zig-zag-deflect{position:relative;-webkit-transform:translate(-15px,-15px);-ms-transform:translate(-15px,-15px);transform:translate(-15px,-15px)}.ball-zig-zag-deflect>div{background-color:#fff;width:15px;height:15px;border-radius:100%;margin:2px 2px 2px 15px;-webkit-animation-fill-mode:both;animation-fill-mode:both;position:absolute;top:4px;left:-7px}.ball-zig-zag-deflect>div:first-child{-webkit-animation:ball-zig-deflect 1.5s 0s infinite linear;animation:ball-zig-deflect 1.5s 0s infinite linear}.ball-zig-zag-deflect>div:last-child{-webkit-animation:ball-zag-deflect 1.5s 0s infinite linear;animation:ball-zag-deflect 1.5s 0s infinite linear}@-webkit-keyframes line-scale{0%{-webkit-transform:scaley(1);transform:scaley(1)}50%{-webkit-transform:scaley(0.4);transform:scaley(0.4)}100%{-webkit-transform:scaley(1);transform:scaley(1)}}@keyframes line-scale{0%{-webkit-transform:scaley(1);transform:scaley(1)}50%{-webkit-transform:scaley(0.4);transform:scaley(0.4)}100%{-webkit-transform:scaley(1);transform:scaley(1)}}.line-scale>div:nth-child(1){-webkit-animation:line-scale 1s -.4s infinite cubic-bezier(.2,.68,.18,1.08);animation:line-scale 1s -.4s infinite cubic-bezier(.2,.68,.18,1.08)}.line-scale>div:nth-child(2){-webkit-animation:line-scale 1s -.3s infinite cubic-bezier(.2,.68,.18,1.08);animation:line-scale 1s -.3s infinite cubic-bezier(.2,.68,.18,1.08)}.line-scale>div:nth-child(3){-webkit-animation:line-scale 1s -.2s infinite cubic-bezier(.2,.68,.18,1.08);animation:line-scale 1s -.2s infinite cubic-bezier(.2,.68,.18,1.08)}.line-scale>div:nth-child(4){-webkit-animation:line-scale 1s -.1s infinite cubic-bezier(.2,.68,.18,1.08);animation:line-scale 1s -.1s infinite cubic-bezier(.2,.68,.18,1.08)}.line-scale>div:nth-child(5){-webkit-animation:line-scale 1s 0s infinite cubic-bezier(.2,.68,.18,1.08);animation:line-scale 1s 0s infinite cubic-bezier(.2,.68,.18,1.08)}.line-scale>div{background-color:#fff;width:4px;height:35px;border-radius:2px;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block}@-webkit-keyframes line-scale-party{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.5);transform:scale(0.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes line-scale-party{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.5);transform:scale(0.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}.line-scale-party>div:nth-child(1){-webkit-animation-delay:.23s;animation-delay:.23s;-webkit-animation-duration:1.1s;animation-duration:1.1s}.line-scale-party>div:nth-child(2){-webkit-animation-delay:.09s;animation-delay:.09s;-webkit-animation-duration:1s;animation-duration:1s}.line-scale-party>div:nth-child(3){-webkit-animation-delay:.44s;animation-delay:.44s;-webkit-animation-duration:.65s;animation-duration:.65s}.line-scale-party>div:nth-child(4){-webkit-animation-delay:-.12s;animation-delay:-.12s;-webkit-animation-duration:1.01s;animation-duration:1.01s}.line-scale-party>div{background-color:#fff;width:4px;height:35px;border-radius:2px;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block;-webkit-animation-name:line-scale-party;animation-name:line-scale-party;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-delay:0;animation-delay:0}@-webkit-keyframes line-scale-pulse-out{0%{-webkit-transform:scaley(1);transform:scaley(1)}50%{-webkit-transform:scaley(0.4);transform:scaley(0.4)}100%{-webkit-transform:scaley(1);transform:scaley(1)}}@keyframes line-scale-pulse-out{0%{-webkit-transform:scaley(1);transform:scaley(1)}50%{-webkit-transform:scaley(0.4);transform:scaley(0.4)}100%{-webkit-transform:scaley(1);transform:scaley(1)}}.line-scale-pulse-out>div{background-color:#fff;width:4px;height:35px;border-radius:2px;margin:2px;display:inline-block;-webkit-animation:line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);animation:line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85)}.line-scale-pulse-out>div:nth-child(2),.line-scale-pulse-out>div:nth-child(4){-webkit-animation-delay:-.4s!important;animation-delay:-.4s!important}.line-scale-pulse-out>div:nth-child(1),.line-scale-pulse-out>div:nth-child(5){-webkit-animation-delay:-.2s!important;animation-delay:-.2s!important}@-webkit-keyframes line-scale-pulse-out-rapid{0%{-webkit-transform:scaley(1);transform:scaley(1)}80%{-webkit-transform:scaley(0.3);transform:scaley(0.3)}90%{-webkit-transform:scaley(1);transform:scaley(1)}}@keyframes line-scale-pulse-out-rapid{0%{-webkit-transform:scaley(1);transform:scaley(1)}80%{-webkit-transform:scaley(0.3);transform:scaley(0.3)}90%{-webkit-transform:scaley(1);transform:scaley(1)}}.line-scale-pulse-out-rapid>div{background-color:#fff;width:4px;height:35px;border-radius:2px;margin:2px;display:inline-block;-webkit-animation:line-scale-pulse-out-rapid .9s -.5s infinite cubic-bezier(.11,.49,.38,.78);animation:line-scale-pulse-out-rapid .9s -.5s infinite cubic-bezier(.11,.49,.38,.78)}.line-scale-pulse-out-rapid>div:nth-child(2),.line-scale-pulse-out-rapid>div:nth-child(4){-webkit-animation-delay:-.25s!important;animation-delay:-.25s!important}.line-scale-pulse-out-rapid>div:nth-child(1),.line-scale-pulse-out-rapid>div:nth-child(5){-webkit-animation-delay:0s!important;animation-delay:0s!important}@-webkit-keyframes line-spin-fade-loader{50%{opacity:.3}100%{opacity:1}}@keyframes line-spin-fade-loader{50%{opacity:.3}100%{opacity:1}}.line-spin-fade-loader{position:relative;top:-10px;left:-4px}.line-spin-fade-loader>div:nth-child(1){top:20px;left:0;-webkit-animation:line-spin-fade-loader 1.2s -.84s infinite ease-in-out;animation:line-spin-fade-loader 1.2s -.84s infinite ease-in-out}.line-spin-fade-loader>div:nth-child(2){top:13.64px;left:13.64px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-animation:line-spin-fade-loader 1.2s -.72s infinite ease-in-out;animation:line-spin-fade-loader 1.2s -.72s infinite ease-in-out}.line-spin-fade-loader>div:nth-child(3){top:0;left:20px;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);-webkit-animation:line-spin-fade-loader 1.2s -.6s infinite ease-in-out;animation:line-spin-fade-loader 1.2s -.6s infinite ease-in-out}.line-spin-fade-loader>div:nth-child(4){top:-13.64px;left:13.64px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:line-spin-fade-loader 1.2s -.48s infinite ease-in-out;animation:line-spin-fade-loader 1.2s -.48s infinite ease-in-out}.line-spin-fade-loader>div:nth-child(5){top:-20px;left:0;-webkit-animation:line-spin-fade-loader 1.2s -.36s infinite ease-in-out;animation:line-spin-fade-loader 1.2s -.36s infinite ease-in-out}.line-spin-fade-loader>div:nth-child(6){top:-13.64px;left:-13.64px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-animation:line-spin-fade-loader 1.2s -.24s infinite ease-in-out;animation:line-spin-fade-loader 1.2s -.24s infinite ease-in-out}.line-spin-fade-loader>div:nth-child(7){top:0;left:-20px;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);-webkit-animation:line-spin-fade-loader 1.2s -.12s infinite ease-in-out;animation:line-spin-fade-loader 1.2s -.12s infinite ease-in-out}.line-spin-fade-loader>div:nth-child(8){top:13.64px;left:-13.64px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:line-spin-fade-loader 1.2s 0s infinite ease-in-out;animation:line-spin-fade-loader 1.2s 0s infinite ease-in-out}.line-spin-fade-loader>div{background-color:#fff;border-radius:2px;margin:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;position:absolute;width:5px;height:15px}@-webkit-keyframes triangle-skew-spin{25%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(0);transform:perspective(100px) rotateX(180deg) rotateY(0)}50%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(180deg);transform:perspective(100px) rotateX(180deg) rotateY(180deg)}75%{-webkit-transform:perspective(100px) rotateX(0) rotateY(180deg);transform:perspective(100px) rotateX(0) rotateY(180deg)}100%{-webkit-transform:perspective(100px) rotateX(0) rotateY(0);transform:perspective(100px) rotateX(0) rotateY(0)}}@keyframes triangle-skew-spin{25%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(0);transform:perspective(100px) rotateX(180deg) rotateY(0)}50%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(180deg);transform:perspective(100px) rotateX(180deg) rotateY(180deg)}75%{-webkit-transform:perspective(100px) rotateX(0) rotateY(180deg);transform:perspective(100px) rotateX(0) rotateY(180deg)}100%{-webkit-transform:perspective(100px) rotateX(0) rotateY(0);transform:perspective(100px) rotateX(0) rotateY(0)}}.triangle-skew-spin>div{width:0;height:0;border-left:20px solid transparent;border-right:20px solid transparent;border-bottom:20px solid #fff;-webkit-animation:triangle-skew-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;animation:triangle-skew-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite}@-webkit-keyframes square-spin{25%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(0);transform:perspective(100px) rotateX(180deg) rotateY(0)}50%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(180deg);transform:perspective(100px) rotateX(180deg) rotateY(180deg)}75%{-webkit-transform:perspective(100px) rotateX(0) rotateY(180deg);transform:perspective(100px) rotateX(0) rotateY(180deg)}100%{-webkit-transform:perspective(100px) rotateX(0) rotateY(0);transform:perspective(100px) rotateX(0) rotateY(0)}}@keyframes square-spin{25%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(0);transform:perspective(100px) rotateX(180deg) rotateY(0)}50%{-webkit-transform:perspective(100px) rotateX(180deg) rotateY(180deg);transform:perspective(100px) rotateX(180deg) rotateY(180deg)}75%{-webkit-transform:perspective(100px) rotateX(0) rotateY(180deg);transform:perspective(100px) rotateX(0) rotateY(180deg)}100%{-webkit-transform:perspective(100px) rotateX(0) rotateY(0);transform:perspective(100px) rotateX(0) rotateY(0)}}.square-spin>div{width:50px;height:50px;background:#fff;border:1px solid transparent;-webkit-animation:square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;animation:square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite}@-webkit-keyframes rotate_pacman_half_up{0%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}50%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}100%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}}@keyframes rotate_pacman_half_up{0%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}50%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}100%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}}@-webkit-keyframes rotate_pacman_half_down{0%{-webkit-transform:rotate(90deg);transform:rotate(90deg)}50%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(90deg);transform:rotate(90deg)}}@keyframes rotate_pacman_half_down{0%{-webkit-transform:rotate(90deg);transform:rotate(90deg)}50%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(90deg);transform:rotate(90deg)}}@-webkit-keyframes pacman-balls{75%{opacity:.7}100%{-webkit-transform:translate(-100px,-6.25px);transform:translate(-100px,-6.25px)}}@keyframes pacman-balls{75%{opacity:.7}100%{-webkit-transform:translate(-100px,-6.25px);transform:translate(-100px,-6.25px)}}.pacman{position:relative}.pacman>div:nth-child(3){-webkit-animation:pacman-balls 1s -.66s infinite linear;animation:pacman-balls 1s -.66s infinite linear}.pacman>div:nth-child(4){-webkit-animation:pacman-balls 1s -.33s infinite linear;animation:pacman-balls 1s -.33s infinite linear}.pacman>div:nth-child(5){-webkit-animation:pacman-balls 1s 0s infinite linear;animation:pacman-balls 1s 0s infinite linear}.pacman>div:first-of-type{width:0;height:0;border-right:25px solid transparent;border-top:25px solid #fff;border-left:25px solid #fff;border-bottom:25px solid #fff;border-radius:25px;-webkit-animation:rotate_pacman_half_up .5s 0s infinite;animation:rotate_pacman_half_up .5s 0s infinite;position:relative;left:-30px}.pacman>div:nth-child(2){width:0;height:0;border-right:25px solid transparent;border-top:25px solid #fff;border-left:25px solid #fff;border-bottom:25px solid #fff;border-radius:25px;-webkit-animation:rotate_pacman_half_down .5s 0s infinite;animation:rotate_pacman_half_down .5s 0s infinite;margin-top:-50px;position:relative;left:-30px}.pacman>div:nth-child(3),.pacman>div:nth-child(4),.pacman>div:nth-child(5),.pacman>div:nth-child(6){background-color:#fff;border-radius:100%;margin:2px;width:10px;height:10px;position:absolute;-webkit-transform:translate(0,-6.25px);-ms-transform:translate(0,-6.25px);transform:translate(0,-6.25px);top:25px;left:70px}@-webkit-keyframes cube-transition{25%{-webkit-transform:translateX(50px) scale(0.5) rotate(-90deg);transform:translateX(50px) scale(0.5) rotate(-90deg)}50%{-webkit-transform:translate(50px,50px) rotate(-180deg);transform:translate(50px,50px) rotate(-180deg)}75%{-webkit-transform:translateY(50px) scale(0.5) rotate(-270deg);transform:translateY(50px) scale(0.5) rotate(-270deg)}100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}}@keyframes cube-transition{25%{-webkit-transform:translateX(50px) scale(0.5) rotate(-90deg);transform:translateX(50px) scale(0.5) rotate(-90deg)}50%{-webkit-transform:translate(50px,50px) rotate(-180deg);transform:translate(50px,50px) rotate(-180deg)}75%{-webkit-transform:translateY(50px) scale(0.5) rotate(-270deg);transform:translateY(50px) scale(0.5) rotate(-270deg)}100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}}.cube-transition{position:relative;-webkit-transform:translate(-25px,-25px);-ms-transform:translate(-25px,-25px);transform:translate(-25px,-25px)}.cube-transition>div{width:10px;height:10px;position:absolute;top:-5px;left:-5px;background-color:#fff;-webkit-animation:cube-transition 1.6s 0s infinite ease-in-out;animation:cube-transition 1.6s 0s infinite ease-in-out}.cube-transition>div:last-child{-webkit-animation-delay:-.8s;animation-delay:-.8s}@-webkit-keyframes spin-rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spin-rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.semi-circle-spin{position:relative;width:35px;height:35px;overflow:hidden}.semi-circle-spin>div{position:absolute;border-width:0;border-radius:100%;-webkit-animation:spin-rotate .6s 0s infinite linear;animation:spin-rotate .6s 0s infinite linear;background-image:-webkit-linear-gradient(transparent 0,transparent 70%,#fff 30%,#fff 100%);background-image:linear-gradient(transparent 0,transparent 70%,#fff 30%,#fff 100%);width:100%;height:100%}

.load2 .loader,.load2 .loader:before,.load2 .loader:after{border-radius:50%}.load2 .loader:before,.load2 .loader:after{position:absolute;content:''}.load2 .loader:before{width:5.2em;height:10.2em;background:#D5D5D5;border-radius:10.2em 0 0 10.2em;top:-0.1em;left:-0.1em;-webkit-transform-origin:5.2em 5.1em;transform-origin:5.2em 5.1em;-webkit-animation:load2 2s infinite ease 1.5s;animation:load2 2s infinite ease 1.5s}.load2 .loader{font-size:8px;text-indent:-99999em;position:relative;width:10em;height:10em;box-shadow:inset 0 0 0 1em #FFF;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.load2 .loader:after{width:5.2em;height:10.2em;background:#D5D5D5;border-radius:0 10.2em 10.2em 0;top:-0.1em;left:5.1em;-webkit-transform-origin:0px 5.1em;transform-origin:0px 5.1em;-webkit-animation:load2 2s infinite ease;animation:load2 2s infinite ease}@-webkit-keyframes "load2"{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes "load2"{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
.selected .load2 .loader:before, .selected .load2 .loader:after{background:#999;}

.load3 .loader{font-size:7px;text-indent:-9999em;width:11em;height:11em;border-radius:50%;background:#ffffff;background:-moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);background:-webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);background:-o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);background:-ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);background:linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);position:relative;-webkit-animation:load3 1.4s infinite linear;animation:load3 1.4s infinite linear;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.load3 .loader:before{width:50%;height:50%;background:#FFF;border-radius:100% 0 0 0;position:absolute;top:0;left:0;content:''}.load3 .loader:after{background:#D5D5D5;width:75%;height:75%;border-radius:50%;content:'';margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}@-webkit-keyframes "load3"{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}@keyframes "load3"{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
.selected .load3 .loader:after{background:#999;}

.load6 .loader{font-size:50px;text-indent:-9999em;overflow:hidden;width:1em;height:1em;border-radius:50%;position:relative;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:load6 1.7s infinite ease;animation:load6 1.7s infinite ease}@-webkit-keyframes "load6"{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;}5%,95%{box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;}10%,59%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;}20%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;}38%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;}}@keyframes "load6"{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;}5%,95%{box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;}10%,59%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;}20%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;}38%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;}}

.note{
	background-color: rgba(232, 189, 53, 0.3);
	padding: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: rgba(111, 100, 64, 1);
	border: 1px solid rgba(232, 189, 53, 0.1);
	margin-bottom: 40px;
	margin-right: 3.8%;
	font-size: 14px;
    line-height: 1.6em;
}
.larch_demos_content h4{f
	font-weight: 500;
    color: #5C5C5C;
    padding-top: 5px;
    font-size: 18px;
}
.ptext{width: 80%;margin-bottom: 15px;
	margin-top: 15px;
	line-height:1.7em;
	color: #5C5C5C;
	font-size: 14px;
	font-weight: 100;}
.ui-dialog-buttonset:active, .ui-dialog-buttonset:focus{outline: none !important;}
.ui-dialog-buttonset{top: -15px;position: relative;}


.color_with_main_color_checker{display: inline-block;width: 100%;}
.color_with_main_color_checker .clear{display:block; width: 1px; position: relative; clear: none; float:left; margin-bottom: 20px; }
.color_with_main_color_checker .main_color_theme_helper{margin-right:35px;}
.styles-holder li:not(.selected-style) a {
    background-image:url(../images/color_window.png);
}


/* RTL */
.rtl .help-button{
	right: auto;
    left: 0;
}
.rtl #options_container input:not(.ed_button), .rtl #options_container select, .rtl #options_container textarea:not(.wp-editor-area), .rtl #options_container h4, .rtl .on-off, .rtl .left-right, .rtl .light-dark, .rtl .color-preview, .rtl .slider{
	float: right;
}
.rtl .help-button{
	right: auto;
    left: 0;
}
.rtl .des_go_to {
    position: absolute;
    right: auto;
    top: 65px;
    z-index: 99;
    margin-left: 30px !important;
    float: left;
    left: 0;
}
.rtl .previewimg {
    background: #f5f5f5;
    padding: 20px;
    float: right !important;
    margin: 25px;
    position: relative;
    top: 25px;
}
.rtl #header {
    width: 500px;
    padding-right: 200px;
}
.rtl #sidebar_name_button, .rtl #sidebar_name_button:hover {
    width: 80px;
}
.rtl #larch_export_options_button, .rtl #larch_export_options_button:hover, .rtl #larch_export_style_options_button, .rtl #larch_export_style_options_button:hover {
    left: 350px;
}
.rtl .upload-button {
    float: right;
    margin-right: 10px;
}
.rtl #larch_apply_imported_settings_button, .rtl #larch_apply_imported_settings_button:hover, .rtl #larch_apply_imported_style_settings_button, .rtl #larch_apply_imported_style_settings_button:hover {
    width: 95px;
    left: 290px;
}
.rtl #larch_reset_options_button, .rtl #larch_reset_options_button:hover, .rtl #larch_reset_style_options_button, .rtl #larch_reset_style_options_button:hover {
    width: 130px;
    left: 260px;
}
.rtl .numbersign {
    float: right;
    left: 0px;
}

.rtl .support {
    margin: 0;
    color: #B1B1B1;
    font-size: 12px;
    position: relative;
    top: 45px;
    padding: 7px 13px;
    background: #FFF;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    float: right;
    margin-right: 10px;
}
.rtl .online-doc {
    color: #B1B1B1;
    font-size: 12px;
    margin: 35px 5px 31px 0;
    position: relative;
    top: 10px;
    padding: 7px 13px;
    background: #fff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-align: right;
    float: right;
}